# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
.vite/

# Git / editor
.git/
.gitignore
.idea/
.vscode/

# Tests & docs
tests/
docs/
*.md

# Env
.env
.env.*
.eslintcache
