# MongoDB
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DB_NAME=meta-vis-dev
MONGODB_USERNAME=meta_vis_app
MONGO_APP_PASSWORD=<choose-a-password>
MONGO_ROOT_PASSWORD=<choose-a-root-password>
MONGODB_AUTH_SOURCE=admin

# Static files
STATIC_FILES_ROOT=/data/taxprofiler

# App
APP_ENV=development
LOG_LEVEL=info

# Authentication
JWT_SECRET=<choose-a-long-random-string>